/************************************************************************
General
************************************************************************/
/*.wrap{
  width:91%;
  margin:auto;
}
*/

.row{
  max-width: 100%;
}
/***********************************************************************
Navigation
***********************************************************************/
.sidebar{
  background-color:#2A4E6E;
  height: 168vh;
}

.sidebar ul{
  background-color:#2A4E6E;
  height: 168.5vh;
}
.sidebar a{
  color:white;
}

.topbar{
background-color: #496D89;
}

.sidebar ul{
  background-color:0D4A4D;
}


/***********************************************************************
Header
***********************************************************************/

.orbit-container{
  height:auto;
}



/***********************************************************************
Main
***********************************************************************/
.main{
  padding: 3em 0;
}

.name{
  padding: .5em 0 .5em .5em;
  margin: 0;
}




/***********************************************************************
Footer
***********************************************************************/
.footer{
  text-align: center;
  color: white;
  background-color: #295060;
  padding: 2em 0;
}

.footer h3{
  color: 74, 107, 138
}

.footer a{
  color: white;
}
.footer img{
  height: 3em;
  width: 3em;
}

  .sidebar{
  color:#4A6B8A;
}


*{
  padding: 0;
}
